.header{
    background-color: black;
    display: flex; 
    color: antiquewhite; 
    width: 100%;
    height: 60px;
}
.brand{
right: 10px;

}

.attemps{
    display:flexbox;
    align-items:flex-end;
    right: 10px;

}

 